<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Video_Rental_Gurmukh.Properties.Settings.VideoRental_GurmukhConnectionString"
            connectionString="Data Source=DESKTOP-EMRRDFR\SQLEXPRESS01;Initial Catalog=VideoRental_Gurmukh;Integrated Security=True"
            providerName="System.Data.SqlClient" />
		<add name="VideoRental_Gurmukh_Connection" connectionString="Data Source=DESKTOP-EMRRDFR\SQLEXPRESS01;Initial Catalog=VideoRental_Gurmukh;Integrated Security=SSPI; MultipleActiveResultSets=true;"
      providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	
</configuration>